.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    // min-height: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 40px 0px;
}

.work-title{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    color: $title-col;
}

.work-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

.work-item{
    height: 500px;
    width: 350px;
    margin: 12px;
    box-shadow: 0px 15px 30px rgba(70, 72, 95, 0.2);
    border-radius: 6px;
    // background: linear-gradient(black, red);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    &:hover{
        & .work-item-img{
            transform: scale(1.1);
        }
        & .work-pop{
            opacity: 1;
        }
        & .work-item-overlay{
            opacity: 1;
        }
        & .work-item-title{
            opacity: 0;
        }
    }
}

.work-item-img{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url(../../img/hero.png) center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: transform 0.5s;
}

.work-item-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: #000000dd;
    opacity: 0;
    transition: opacity 0.5s;
}

.work-item-title{
    padding: 20px;
    font-size: 1.4em;
    font-weight: 750;
    color: black;
    z-index: 100;
    transition: opacity 0.5s;
}

.work-pop{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 100;
}

.work-pop-title{
    padding: 20px;
    font-size: 1.4em;
    font-weight: 750;
    color: white;
}

.work-pop-desc{
    padding: 20px;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6em;
    color: #cbcbcb;
}

.work-pop-link{
    padding: 20px;
    & a{
        background: white;
        color: black;
        text-decoration: none;
        padding: 10px 22px;
        border-radius: 6px;
        font-weight: 550;
    }
}

@media only screen and (max-width: 500px) {
    .work-flex{
        padding: 0px;
        width: 100%;
    }
    .work-item{
        width: auto;
        margin: 0px 12px;
    }
}